layout {
    pane split_direction="vertical" {
        pane size="25%" split_direction="horizontal" {
            pane {
                command "watchexec"
                args "--exts" "rs,toml" "-c" "cargo check"
            }
            pane {        
                command "watchexec"
                args "--exts" "rs,toml" "-c" "cargo run"
            }
            pane {                 
                command "watchexec"
                args "--exts" "rs,toml" "-c" "cargo test"
            }
        }
        pane size="75%"  {
            focus true
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
